body {
  text-align: center;
  font-family: sans-serif;
  background-color: black;
  color: white;
  width: 100%;
}

.container {
  width: 80%;
  margin: 100px auto 20px auto;
}

#artImg {
  padding-top: 15px;
  width: 150px;
  height: 150px
}

.art {
  display: inline-block;
  float: left;
  width: 20%;
}

.results {
  display: inline-block;
  width: 60%;
  line-height: 140%;
}

.results a {
  font-size: 1.5em;
  color: #FFADA2;
  text-decoration: none;
  line-height: 120%;
}

.results a:hover {
  font-weight: bold;
  cursor: pointer;
  color: white;
  border-top: 1px solid grey;
  border-bottom: none;
}

.controls {
  width: 100%;
  margin-top: 40px;
}

.controls button{
  width: 200px;
  height: 80px;
  font-size: 20px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  margin: 20px;
  outline: none;
  letter-spacing: 3px;
}

.controls button:hover {
  font-weight: bold;
  cursor: pointer;
  color: #FFADA2;
  background-color: transparent;
  letter-spacing: 12px;
  border: 1px solid #FFADA2;
  /*box-shadow: 10px 5px 50px 0px rgba(255,242,241,0.6);*/
}
